 <body background="http://img0.mxstatic.com/wallpapers/0172de02ab1e74a05dfb166a041546bc_large.jpeg"></body>
 <div class="container" >


 <h1>Enter your post below!</h1>


<form action="/new_post" method="post">
<label for="title">Title:</label>
<input id="title" name="title" >
<p><label for="content">Description:</label></p>
<textarea id="content" name="content">Enter post content here</textarea>
<p><label for="post_tags">Tags:</label>
<input id="tags" name="tags" value="tag1, tag2, some other tag, a fourth tag"></p>
<input type="submit" value="submit">
</form>
</div>
