<div class="container">
  <h1>Hi welcome to Coolville</h1>
  <p>Please create a new account</p>

  <form action="/new_user" method="post">
    <p><label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name"></p>
    <p><label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name"></p>
    <p><label for="email">Email:</label>
    <input id="email" type="text" name="email"></p>
    <p><label for="password">Password:</label>
    <input id="password" type="text" name="password"></p>
    <input type="submit" value="Submit">
  </form>

  <form action="/user_login_page" method="get">
    <input type="submit" value="Login">
  </form>
</div>
