<div class="container">
<h1>you need to log in</h1>

<form action="/user_login" method="get">
    <p><label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name"></p>
    <p><label for="password">Password:</label>
    <input id="password" type="text" name="password"></p>
    <input type="submit" value="Login">
</form>
  </div>